
$first-color:#fff;
$second-color:#4181FF;
$third-color: #D501E4;

$main-font: 'Oswald', sans-serif;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:$first-color;
    text-transform:uppercase;
    font-family: $main-font;
}


body{
    width:100vw;
    min-height:100vh;
    overflow: hidden;
    background-image: url(../assets/hizir-kaya-0q90Mumo-xE-unsplash.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

